._2t-a._50tj{
  background-color: #292a2f;
}

._li {
background-color: #4e5058;
}

._2s1x ._2s1y {
  background-color: #292a2f;
}

html ._5vb_.hasLeftCol #contentCol {
 background-color: #4e5058;
}

._1cwg {
 color: white;
}

span.sectionDragHandle {
 color: white;
}