._2t-a._50tj{
  background-color: #292a2f;
}

._li {
background-color: #9c9c9c;
}

._2s1x ._2s1y {
  background-color: #292a2f;
}

html ._5vb_.hasLeftCol #contentCol {
 background-color: #9c9c9c;
}

._1cwg {
 color: white;
}

._55y4 .sectionDragHandle {
 color: white;
}

.fbChatSidebar .fbChatSidebarBody {
 background-color: #cfcfcf;
}